<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <main class="home_container">
      <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }); %>

      <div class="home_image_wrapper">
        <img src="https://preview.redd.it/fep6u5kx9cn71.jpg?width=3264&format=pjpg&auto=webp&s=e0f39f7f6559dd25b95e54dcd1ff9eb36b2fb559" alt="Books Collage" class="home_image" />
        <div class="home_overlay">
          <div class="home_overlay_content">
            <h1 class="home_title">Welcome to Your Book Library</h1>
            <form class="search" action="/search" method="GET">
              <div class="search_group">
                <input 
                  id="query" 
                  class="search_input" 
                  type="text" 
                  name="q" 
                  placeholder="Search for books" />
              </div>
              <button class="button" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
