<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <main class="home_container">
      <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }); %>

      <div class="home_image_wrapper">
        <img src="/images/book_collage.webp" alt="Books Collage" class="home_image" />
        <div class="home_overlay">
          <div class="home_overlay_content">
            <h1 class="home_title">Welcome to Your Book Library</h1>
            <form class="search" action="/search" method="GET">
              <div class="search_group">
                <input 
                  id="query" 
                  class="search_input" 
                  type="text" 
                  name="q" 
                  placeholder="Search for books" />
              </div>
              <button class="button" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
